SD1/Node-red_all flows
[{"id":"8e478380.28aab8","type":"tab","label":"x053 - Mqtt ","disabled":false,"info":""},{"id":"82832ef8.251b8","type":"tab","label":"x053: Function & Variables","disabled":false,"info":""},{"id":"11ba7358.94728d","type":"tab","label":"x054 - Particle Cloud","disabled":false,"info":""},{"id":"6c1fcb6f.d5a844","type":"tab","label":"x054: Functions & Varables","disabled":false,"info":""},{"id":"5268356e.26315c","type":"tab","label":"Example: Publish & SSE","disabled":false,"info":""},{"id":"9c29019b.cf9758","type":"tab","label":"MySQL Test","disabled":true,"info":"This is a flow to demonstarte the MySQL node in Node-Red.\nWe measure the temperature of the Raspberry Pi's CPU and log it int the database."},{"id":"3d042d0d.f2c312","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"6dd5a268.b8200c","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"2f476608.09f80a","type":"mqtt-broker","z":"","name":"Heikkis USA server","broker":"skinny.skycharts.net","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5f275201.c23024","type":"ui_group","z":"","name":"Amp sensor","tab":"a1f5ac76.1fd2","order":3,"disp":true,"width":"6","collapse":false},{"id":"b6c033ea.8e43d8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c905a376.e7b558","type":"ui_group","z":"","name":"Sensor - voltmeter","tab":"a1f5ac76.1fd2","order":2,"disp":true,"width":"6","collapse":false},{"id":"a1f5ac76.1fd2","type":"ui_tab","z":"","name":"X053 - Laddbox","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"405a76a0.c9e558","type":"particle-cloud","z":"","host":"https://api.particle.io","port":"443","accesstoken":"809edd541dec7c9075feb71bbb04d407e731e91d","name":"Particle Cloud"},{"id":"c263170.98b5868","type":"ui_spacer","name":"spacer","group":"5f275201.c23024","order":2,"width":1,"height":1},{"id":"eb092a99.8b33e8","type":"ui_group","z":"","name":"Ampgraph","tab":"a1f5ac76.1fd2","order":3,"disp":true,"width":"6","collapse":false},{"id":"79a15c66.3359f4","type":"ui_tab","z":"","name":"X053 - Trend diagram ström (A)","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"a2225423.e25ff8","type":"ui_group","z":"","name":"Amper trend chart","tab":"79a15c66.3359f4","order":2,"disp":true,"width":"13","collapse":false},{"id":"9440c518.c0402","type":"ui_group","z":"","name":"Trend","tab":"a1f5ac76.1fd2","order":4,"disp":true,"width":"6","collapse":false},{"id":"96339779.1866","type":"ui_group","z":"","name":"Power In","tab":"a1f5ac76.1fd2","order":1,"disp":true,"width":"6","collapse":false},{"id":"7f93d783.a10f28","type":"ui_tab","z":"","name":"Översikt x054","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"ccfffff6.28c28","type":"ui_group","z":"","name":"variable","tab":"7f93d783.a10f28","order":2,"disp":true,"width":"6","collapse":false},{"id":"ff0d9f7c.c9273","type":"ui_group","z":"","name":"SSE device","tab":"7f93d783.a10f28","order":3,"disp":true,"width":"6","collapse":false},{"id":"4f2bcad4.b22244","type":"ui_group","z":"","name":"MQTT","tab":"7f93d783.a10f28","order":1,"disp":true,"width":"6","collapse":false},{"id":"4fe439fd.04ea7","type":"ui_tab","z":"","name":"Trend x054","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"ef54c5b9.5d639","type":"ui_group","z":"","name":"Trend x054 Ampere","tab":"4fe439fd.04ea7","order":1,"disp":true,"width":"13","collapse":false},{"id":"f0fdf58e.d867d8","type":"ui_tab","z":"","name":"Particle readings","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"93163583.fb03b8","type":"ui_group","z":"","name":"x053","tab":"f0fdf58e.d867d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"c99d67b.ee46218","type":"ui_group","z":"","name":"x054","tab":"f0fdf58e.d867d8","order":2,"disp":true,"width":"6","collapse":false},{"id":"4afe6c7e.599b34","type":"MySQLdatabase","z":"","host":"db-honeygood.ckqx35owoldy.eu-west-1.rds.amazonaws.com","port":"3306","db":"Node-RED-test","tz":""},{"id":"2d817e12.da3272","type":"ui_group","z":"","name":"Thermostat demo","tab":"72eeb058.988e38","order":2,"disp":true,"width":"6"},{"id":"189bcbf9.75d334","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"nodered","tz":""},{"id":"72eeb058.988e38","type":"ui_tab","z":"","name":"Test stuff","icon":"dashboard"},{"id":"85730eb1.9066c8","type":"particle-SSE","z":"82832ef8.251b8","pcloud":"405a76a0.c9e558","subscribetype":"all","devprodslug":"x042-001-sn0001","devid":"","evtname":"x053_batteryVoltage","strict":true,"x":168,"y":473,"wires":[["c2ff69ff.20f3c8","34c76ae2.6afc9e"]]},{"id":"fa2f0d57.faed48","type":"inject","z":"82832ef8.251b8","name":"LED on","topic":"param","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":35,"wires":[["9aa49a73.19f8e8"]]},{"id":"7a79f61c.9ab3d8","type":"inject","z":"82832ef8.251b8","name":"LED off","topic":"param","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":141,"y":129,"wires":[["9aa49a73.19f8e8"]]},{"id":"54d3269a.c351c8","type":"debug","z":"82832ef8.251b8","name":"result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":805,"y":85,"wires":[]},{"id":"e01c2785.fd0ee","type":"inject","z":"82832ef8.251b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":138,"y":231,"wires":[["f1c007ec.f1ece8"]]},{"id":"bcd2e704.98ac78","type":"debug","z":"82832ef8.251b8","name":"result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":778,"y":211,"wires":[]},{"id":"9aa49a73.19f8e8","type":"particle-func","z":"82832ef8.251b8","pcloud":"405a76a0.c9e558","devid":"250024000747363339343638","fname":"doLED","param":"","productIdOrSlug":"1180","repeat":0,"once":false,"x":453,"y":80,"wires":[["54d3269a.c351c8"]]},{"id":"f1c007ec.f1ece8","type":"particle-var","z":"82832ef8.251b8","pcloud":"405a76a0.c9e558","devid":"250024000747363339343638","getvar":"aValue","productIdOrSlug":"","repeat":0,"once":false,"x":408,"y":231,"wires":[["bcd2e704.98ac78","ba0ba131.fa6eb"]]},{"id":"ba0ba131.fa6eb","type":"ui_text","z":"82832ef8.251b8","group":"c905a376.e7b558","order":3,"width":0,"height":0,"name":"","label":"Analog read (A0) :","format":"{{msg.payload}}","layout":"row-center","x":768,"y":283,"wires":[]},{"id":"301d42a8.e41456","type":"inject","z":"5268356e.26315c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":207,"y":169,"wires":[["f13ef456.296ed8"]]},{"id":"879a44a6.f866f","type":"debug","z":"5268356e.26315c","name":"result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":651,"y":259,"wires":[]},{"id":"f13ef456.296ed8","type":"particle-pub","z":"5268356e.26315c","pcloud":"405a76a0.c9e558","evtname":"myEvent","param":"","productIdOrSlug":"","private":false,"evtnametopic":false,"ttl":60,"repeat":0,"once":false,"x":387,"y":169,"wires":[["2f5b77ba.b86b08"]]},{"id":"3562aeb3.fa6c3a","type":"particle-SSE","z":"5268356e.26315c","pcloud":"405a76a0.c9e558","subscribetype":"devid","devprodslug":"250024000747363339343638","devid":"","evtname":"myEvent","strict":0,"x":327,"y":260,"wires":[["879a44a6.f866f"]]},{"id":"2f5b77ba.b86b08","type":"debug","z":"5268356e.26315c","name":"result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":557,"y":169,"wires":[]},{"id":"338f1671.ed931a","type":"mqtt in","z":"8e478380.28aab8","name":"","topic":"x053_batteryVoltage","qos":"2","broker":"2f476608.09f80a","x":210,"y":84,"wires":[["88cabb0e.165ed8","7714e17e.8412d"]]},{"id":"d9177058.f1bbd8","type":"mqtt in","z":"8e478380.28aab8","name":"","topic":"x053_chargeAmp","qos":"2","broker":"2f476608.09f80a","x":196,"y":233,"wires":[["8184c224.e9cb18","3cc10448.ede6b4","fc32f167.bfc4a"]]},{"id":"7b6d2166.dbc2d8","type":"debug","z":"8e478380.28aab8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":774,"y":46,"wires":[]},{"id":"88cabb0e.165ed8","type":"ui_gauge","z":"8e478380.28aab8","name":"","group":"c905a376.e7b558","order":1,"width":0,"height":0,"gtype":"wave","title":"Voltmeter","label":"Volt","format":"{{value}}","min":0,"max":"60","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":752,"y":121,"wires":[],"inputLabels":["batteryVoltage"]},{"id":"8184c224.e9cb18","type":"ui_gauge","z":"8e478380.28aab8","name":"Ampmeter","group":"5f275201.c23024","order":1,"width":0,"height":0,"gtype":"gage","title":"Ampmeter","label":"Ampere","format":"{{value}}","min":"-2","max":"10","colors":["#ca3838","#e6e600","#00b500"],"seg1":"0","seg2":"","x":645,"y":256,"wires":[],"inputLabels":["chargeAmp"]},{"id":"3cc10448.ede6b4","type":"ui_chart","z":"8e478380.28aab8","name":"","group":"9440c518.c0402","order":1,"width":0,"height":0,"label":"Ampere","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"-2","ymax":"10","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":649,"y":305,"wires":[[]],"inputLabels":["chargeAmp"]},{"id":"41471448.c223cc","type":"ui_text","z":"82832ef8.251b8","group":"5f275201.c23024","order":3,"width":0,"height":0,"name":"","label":"Analog read (A1) :","format":"{{msg.payload}}","layout":"row-center","x":769,"y":353,"wires":[]},{"id":"f5ff6d56.3d8208","type":"ui_form","z":"8e478380.28aab8","name":"","label":"Manuell inmatning","group":"c905a376.e7b558","order":5,"width":0,"height":0,"options":[{"label":"Wh","value":"Watt Hour","type":"text","required":true}],"formValue":{"Watt Hour":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":666,"y":472,"wires":[[]]},{"id":"ca1832cd.e77cc","type":"ui_button","z":"82832ef8.251b8","name":"","group":"c905a376.e7b558","order":4,"width":0,"height":0,"passthru":false,"label":"Check A0","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":117,"y":309,"wires":[["f1c007ec.f1ece8"]]},{"id":"86bbe8c7.5a35b","type":"particle-var","z":"82832ef8.251b8","pcloud":"405a76a0.c9e558","devid":"250024000747363339343638","getvar":"bValue","productIdOrSlug":"","repeat":0,"once":false,"x":430,"y":333,"wires":[["41471448.c223cc"]]},{"id":"6558ca90.8eff5c","type":"ui_button","z":"82832ef8.251b8","name":"","group":"5f275201.c23024","order":3,"width":0,"height":0,"passthru":false,"label":"Check A1","tooltip":"read A1","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":122,"y":362,"wires":[["86bbe8c7.5a35b"]]},{"id":"e5749be1.d457a","type":"mqtt in","z":"8e478380.28aab8","name":"x053_solarPower","topic":"x053_solarPower","qos":"2","broker":"2f476608.09f80a","x":199,"y":359,"wires":[["a682bb09.01c61"]]},{"id":"a682bb09.01c61","type":"ui_gauge","z":"8e478380.28aab8","name":"","group":"96339779.1866","order":1,"width":0,"height":0,"gtype":"gage","title":"Effekt","label":"Watt","format":"{{value}}","min":0,"max":"300","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":672,"y":408,"wires":[]},{"id":"fc32f167.bfc4a","type":"ui_chart","z":"8e478380.28aab8","name":"","group":"a2225423.e25ff8","order":1,"width":0,"height":0,"label":"Ampere wide","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":655,"y":352,"wires":[[]],"inputLabels":["chargeAmps"]},{"id":"8898e93c.17aa58","type":"particle-var","z":"11ba7358.94728d","pcloud":"405a76a0.c9e558","devid":"33002d000947373034353237","getvar":"x054_batteryVoltage","productIdOrSlug":"","repeat":"20","once":false,"x":236,"y":64,"wires":[["8a41dddb.5123e","5e42013a.db26f"]]},{"id":"efc964d8.898468","type":"ui_gauge","z":"11ba7358.94728d","name":"","group":"ff0d9f7c.c9273","order":1,"width":0,"height":0,"gtype":"gage","title":"batteryVoltage","label":"Volt","format":"{{msg.data}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":721,"y":179,"wires":[]},{"id":"5fb4c3a5.6b65cc","type":"particle-SSE","z":"11ba7358.94728d","pcloud":"405a76a0.c9e558","subscribetype":"devid","devprodslug":"33002d000947373034353237","devid":"","evtname":"x054_batteryVoltage","strict":0,"x":256,"y":180,"wires":[["efc964d8.898468","a1909d2e.eaa7e","2130bd65.052ad2","938a196.9b837e8"]]},{"id":"c2ff69ff.20f3c8","type":"debug","z":"82832ef8.251b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":703,"y":441,"wires":[]},{"id":"a1909d2e.eaa7e","type":"ui_text","z":"11ba7358.94728d","group":"ff0d9f7c.c9273","order":2,"width":0,"height":0,"name":"BatteryVoltage","label":"text","format":"{{msg.topic}}","layout":"row-spread","x":721,"y":226,"wires":[]},{"id":"8a41dddb.5123e","type":"ui_text","z":"11ba7358.94728d","group":"ccfffff6.28c28","order":1,"width":0,"height":0,"name":"batteryVoltage","label":"text","format":"{{msg.payload | number:1}}","layout":"row-spread","x":725,"y":107,"wires":[]},{"id":"2130bd65.052ad2","type":"ui_text","z":"11ba7358.94728d","group":"ff0d9f7c.c9273","order":2,"width":0,"height":0,"name":"batteryVoltage","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":276,"wires":[]},{"id":"5e42013a.db26f","type":"debug","z":"11ba7358.94728d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":711,"y":58,"wires":[]},{"id":"938a196.9b837e8","type":"debug","z":"11ba7358.94728d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":719,"y":323,"wires":[]},{"id":"f9e82e55.76f998","type":"mqtt in","z":"11ba7358.94728d","name":"","topic":"x054_batteryVoltage","qos":"2","broker":"2f476608.09f80a","x":121,"y":479,"wires":[["5a0e7419.a7f2f4","6d06bac7.3fb50c"]]},{"id":"5a0e7419.a7f2f4","type":"ui_text","z":"11ba7358.94728d","group":"4f2bcad4.b22244","order":3,"width":0,"height":0,"name":"","label":"Laddningsspänning","format":"{{msg.payload}}","layout":"row-spread","x":765,"y":474,"wires":[]},{"id":"b720fd6f.757fc8","type":"mqtt in","z":"11ba7358.94728d","name":"","topic":"x054_chargeAmp","qos":"2","broker":"2f476608.09f80a","x":112,"y":552,"wires":[["f1390e11.455aa8"]]},{"id":"9f8650de.6c5ec","type":"mqtt in","z":"11ba7358.94728d","name":"","topic":"x054_solarPower","qos":"2","broker":"2f476608.09f80a","x":115,"y":417,"wires":[["fc57f433.d2ab78"]]},{"id":"6d06bac7.3fb50c","type":"ui_chart","z":"11ba7358.94728d","name":"","group":"ef54c5b9.5d639","order":1,"width":0,"height":0,"label":"Voltage trend","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":747,"y":529,"wires":[[]]},{"id":"fc57f433.d2ab78","type":"ui_gauge","z":"11ba7358.94728d","name":"","group":"4f2bcad4.b22244","order":2,"width":0,"height":0,"gtype":"gage","title":"Effekt","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":725,"y":411,"wires":[]},{"id":"f1390e11.455aa8","type":"ui_chart","z":"11ba7358.94728d","name":"","group":"ef54c5b9.5d639","order":1,"width":"0","height":"0","label":"Ampere","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"outputs":1,"x":747,"y":640,"wires":[[]]},{"id":"34c76ae2.6afc9e","type":"ui_text","z":"82832ef8.251b8","group":"96339779.1866","order":1,"width":0,"height":0,"name":"","label":"SSE all x053","format":"{{msg.payload}}","layout":"row-spread","x":707,"y":514,"wires":[]},{"id":"1ea4661c.d29652","type":"ui_button","z":"6c1fcb6f.d5a844","name":"","group":"c99d67b.ee46218","order":1,"width":0,"height":0,"passthru":false,"label":"Check A0","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":271,"wires":[["b92ea828.05433"]]},{"id":"3746ea7d.b763a6","type":"ui_button","z":"6c1fcb6f.d5a844","name":"","group":"c99d67b.ee46218","order":3,"width":0,"height":0,"passthru":false,"label":"Check A1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":157,"y":358,"wires":[["1c539d4e.5cbb7b"]]},{"id":"167b0b48.0a65fd","type":"inject","z":"6c1fcb6f.d5a844","name":"LED on","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":61,"wires":[["84a1f4d5.e54d58"]]},{"id":"1ed26df6.7d28fa","type":"inject","z":"6c1fcb6f.d5a844","name":"LED off","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":129,"wires":[["84a1f4d5.e54d58"]]},{"id":"84a1f4d5.e54d58","type":"particle-func","z":"6c1fcb6f.d5a844","pcloud":"405a76a0.c9e558","devid":"33002d000947373034353237","fname":"doLED","param":"","productIdOrSlug":"","repeat":0,"once":false,"x":498,"y":93,"wires":[["1a891107.553c4f"]]},{"id":"1a891107.553c4f","type":"debug","z":"6c1fcb6f.d5a844","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":824,"y":99,"wires":[]},{"id":"b92ea828.05433","type":"particle-var","z":"6c1fcb6f.d5a844","pcloud":"405a76a0.c9e558","devid":"33002d000947373034353237","getvar":"aValue","productIdOrSlug":"","repeat":0,"once":false,"x":446,"y":272,"wires":[["a3f09691.e64a98"]]},{"id":"1c539d4e.5cbb7b","type":"particle-var","z":"6c1fcb6f.d5a844","pcloud":"405a76a0.c9e558","devid":"33002d000947373034353237","getvar":"bValue","productIdOrSlug":"","repeat":0,"once":false,"x":457,"y":356,"wires":[["b916841f.9c201"]]},{"id":"9619641.c9c7b98","type":"particle-SSE","z":"6c1fcb6f.d5a844","pcloud":"405a76a0.c9e558","subscribetype":"devid","devprodslug":"33002d000947373034353237","devid":"","evtname":"","strict":0,"x":409,"y":507,"wires":[["3a4518c4.ec08f"]]},{"id":"a3f09691.e64a98","type":"ui_text","z":"6c1fcb6f.d5a844","group":"c99d67b.ee46218","order":2,"width":0,"height":0,"name":"","label":"Analog read (A0) :","format":"{{msg.payload}}","layout":"row-spread","x":831,"y":271,"wires":[]},{"id":"b916841f.9c201","type":"ui_text","z":"6c1fcb6f.d5a844","group":"c99d67b.ee46218","order":4,"width":0,"height":0,"name":"","label":"Analog read (A1) :","format":"{{msg.payload}}","layout":"row-spread","x":817,"y":354,"wires":[]},{"id":"3a4518c4.ec08f","type":"ui_text","z":"6c1fcb6f.d5a844","group":"c99d67b.ee46218","order":5,"width":0,"height":0,"name":"","label":"SSE all","format":"{{msg.payload}}","layout":"row-spread","x":793,"y":513,"wires":[]},{"id":"3f1b93ca.7b3a24","type":"inject","z":"9c29019b.cf9758","name":"Trigger","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":120,"wires":[["3583c861.86c85"]]},{"id":"3583c861.86c85","type":"exec","z":"9c29019b.cf9758","command":"vcgencmd","addpay":true,"append":"measure_temp","useSpawn":"false","timer":"","oldrc":false,"name":"Command","x":330,"y":180,"wires":[["c9af6978.7e35e8"],[],[]]},{"id":"c9af6978.7e35e8","type":"function","z":"9c29019b.cf9758","name":"Query","func":"/*\nIn this function I enter my Raspberry Pi's CPU\ntemperature using the command \"vcgencmd measure_temp\".\nI then store this temperature in the variable temp,\ndo the necessary formatting and then send a database\nquery to enter the temperature in a database named\nNode-RED-test and the field named Field in the table\nnamed test, every two seconds.\n*/\nvar temp = msg.payload.replace(\"temp=\", \"\").replace(\"'C\\n\", \"\"); //Only give the number\nquery = `INSERT INTO test(Field) VALUES(`+temp+`);`; //Creates query with the recorded temp value\nmsg.topic = query; //Put query into the msg.topic\nreturn msg; //Return the query","outputs":1,"noerr":0,"x":498,"y":253,"wires":[["e0ed7037.0b945","528d230b.1a0b5c"]]},{"id":"e0ed7037.0b945","type":"debug","z":"9c29019b.cf9758","name":"Query String","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","x":870,"y":420,"wires":[]},{"id":"528d230b.1a0b5c","type":"mysql","z":"9c29019b.cf9758","mydb":"4afe6c7e.599b34","name":"Database","x":676,"y":149,"wires":[["4a451279.bc5bfc"]]},{"id":"4a451279.bc5bfc","type":"debug","z":"9c29019b.cf9758","name":"Payload (Status)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":850,"y":180,"wires":[]},{"id":"48839341.057284","type":"mysql","z":"3d042d0d.f2c312","mydb":"4afe6c7e.599b34","name":"MYSQL","x":541,"y":204,"wires":[[]]},{"id":"fcaca609.69fe38","type":"template","z":"3d042d0d.f2c312","name":"Format data","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO `dbasename` (`data1`,`data2`,`time`) VALUES ({{data1}},{{data2}},{{time}})","output":"str","x":358,"y":204,"wires":[["48839341.057284"]]},{"id":"f63de0f1.b5c65","type":"comment","z":"3d042d0d.f2c312","name":"Flow to insert data into the database","info":"","x":218,"y":162,"wires":[]},{"id":"d238a83.aa348d8","type":"ui_chart","z":"6dd5a268.b8200c","name":"24 hours data","group":"2d817e12.da3272","order":2,"width":"0","height":"0","label":"Chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#00e68c","#2d2da8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":737,"y":191,"wires":[[],[]]},{"id":"9d62c3ac.3b455","type":"mysql","z":"6dd5a268.b8200c","mydb":"189bcbf9.75d334","name":"MYSQL","x":355,"y":240,"wires":[["27fd1cd3.2072ac","cbbaefd.11ecc1"]]},{"id":"c0413033.358c2","type":"function","z":"6dd5a268.b8200c","name":"Criteria","func":"var timeE = msg.payload;\n//Restrict the query to pull the last 24hrs\n//of data instead of the whole db\nmsg.payload = (timeE - (1000*60*60*24));\n    node.status({text:msg.payload});\nreturn msg;","outputs":1,"noerr":0,"x":172,"y":241,"wires":[["3812565.bccfaaa"]]},{"id":"a6de9cf0.0aadc8","type":"template","z":"6dd5a268.b8200c","name":"Format query 2","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT\n CEILING(time/3600000)*3600000 AS timestamp,\n AVG(data1) AS `data1`,\n AVG(data2) AS `data2`\nFROM dbasename\nWHERE time > {{payload}}\nGROUP BY `timestamp`;","output":"str","x":361,"y":294,"wires":[[]]},{"id":"27fd1cd3.2072ac","type":"debug","z":"6dd5a268.b8200c","name":"","active":true,"tosidebar":true,"console":false,"complete":"false","x":558,"y":240,"wires":[]},{"id":"5dd9cb0b.251f4c","type":"inject","z":"6dd5a268.b8200c","name":"Timestamp","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":172,"y":191,"wires":[["c0413033.358c2"]]},{"id":"67189fb7.b73dc8","type":"comment","z":"6dd5a268.b8200c","name":"Flow to query database and format for chart","info":"","x":278,"y":141,"wires":[]},{"id":"3812565.bccfaaa","type":"template","z":"6dd5a268.b8200c","name":"Format query 1","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT data1,data2,time FROM dbasename WHERE time > {{payload}}","output":"str","x":357,"y":190,"wires":[["9d62c3ac.3b455"]]},{"id":"cbbaefd.11ecc1","type":"change","z":"6dd5a268.b8200c","name":"Format data","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t  $series := [\t    { \"field\": \"data1\", \"label\": \"data1 label\" },\t    { \"field\": \"data2\", \"label\": \"data2 label\" }\t  ];\t  $xaxis := \"timestamp\";\t  [\t    {\t      \"series\": $series.label,\t      \"data\": $series.[\t        (\t          $yaxis := $.field;\t          $$.payload.{\t            \"x\": $lookup($, $xaxis),\t            \"y\": $lookup($, $yaxis)\t          }\t        )\t      ]\t    }\t  ]\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":561,"y":191,"wires":[["d238a83.aa348d8"]]},{"id":"9ade8050.970ec","type":"inject","z":"3d042d0d.f2c312","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":128,"y":201,"wires":[["fcaca609.69fe38"]]},{"id":"7714e17e.8412d","type":"ui_chart","z":"8e478380.28aab8","name":"","group":"a2225423.e25ff8","order":2,"width":"0","height":"0","label":"Volt wide","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":743,"y":187,"wires":[[]],"inputLabels":["batteryVoltage"]}]
