SD3/Tab1 x053-MQTT
[{"id":"8e478380.28aab8","type":"tab","label":"x053 - Mqtt ","disabled":false,"info":""},{"id":"338f1671.ed931a","type":"mqtt in","z":"8e478380.28aab8","name":"","topic":"x053_batteryVoltage","qos":"2","broker":"2f476608.09f80a","x":210,"y":84,"wires":[["88cabb0e.165ed8","7714e17e.8412d"]]},{"id":"d9177058.f1bbd8","type":"mqtt in","z":"8e478380.28aab8","name":"","topic":"x053_chargeAmp","qos":"2","broker":"2f476608.09f80a","x":196,"y":233,"wires":[["8184c224.e9cb18","3cc10448.ede6b4","fc32f167.bfc4a"]]},{"id":"7b6d2166.dbc2d8","type":"debug","z":"8e478380.28aab8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":774,"y":46,"wires":[]},{"id":"88cabb0e.165ed8","type":"ui_gauge","z":"8e478380.28aab8","name":"","group":"c905a376.e7b558","order":1,"width":0,"height":0,"gtype":"wave","title":"Voltmeter","label":"Volt","format":"{{value}}","min":0,"max":"60","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":752,"y":121,"wires":[],"inputLabels":["batteryVoltage"]},{"id":"8184c224.e9cb18","type":"ui_gauge","z":"8e478380.28aab8","name":"Ampmeter","group":"5f275201.c23024","order":1,"width":0,"height":0,"gtype":"gage","title":"Ampmeter","label":"Ampere","format":"{{value}}","min":"-2","max":"10","colors":["#ca3838","#e6e600","#00b500"],"seg1":"0","seg2":"","x":645,"y":256,"wires":[],"inputLabels":["chargeAmp"]},{"id":"3cc10448.ede6b4","type":"ui_chart","z":"8e478380.28aab8","name":"","group":"9440c518.c0402","order":1,"width":0,"height":0,"label":"Ampere","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"-2","ymax":"10","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":649,"y":305,"wires":[[]],"inputLabels":["chargeAmp"]},{"id":"f5ff6d56.3d8208","type":"ui_form","z":"8e478380.28aab8","name":"","label":"Manuell inmatning","group":"c905a376.e7b558","order":5,"width":0,"height":0,"options":[{"label":"Wh","value":"Watt Hour","type":"text","required":true}],"formValue":{"Watt Hour":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":666,"y":472,"wires":[[]]},{"id":"e5749be1.d457a","type":"mqtt in","z":"8e478380.28aab8","name":"x053_solarPower","topic":"x053_solarPower","qos":"2","broker":"2f476608.09f80a","x":199,"y":359,"wires":[["a682bb09.01c61"]]},{"id":"a682bb09.01c61","type":"ui_gauge","z":"8e478380.28aab8","name":"","group":"96339779.1866","order":1,"width":0,"height":0,"gtype":"gage","title":"Effekt","label":"Watt","format":"{{value}}","min":0,"max":"300","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":672,"y":408,"wires":[]},{"id":"fc32f167.bfc4a","type":"ui_chart","z":"8e478380.28aab8","name":"","group":"a2225423.e25ff8","order":1,"width":0,"height":0,"label":"Ampere wide","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":655,"y":352,"wires":[[]],"inputLabels":["chargeAmps"]},{"id":"7714e17e.8412d","type":"ui_chart","z":"8e478380.28aab8","name":"","group":"a2225423.e25ff8","order":2,"width":"0","height":"0","label":"Volt wide","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":743,"y":187,"wires":[[]],"inputLabels":["batteryVoltage"]},{"id":"2f476608.09f80a","type":"mqtt-broker","z":"","name":"Heikkis USA server","broker":"skinny.skycharts.net","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c905a376.e7b558","type":"ui_group","z":"","name":"Sensor - voltmeter","tab":"a1f5ac76.1fd2","order":2,"disp":true,"width":"6","collapse":false},{"id":"5f275201.c23024","type":"ui_group","z":"","name":"Amp sensor","tab":"a1f5ac76.1fd2","order":3,"disp":true,"width":"6","collapse":false},{"id":"9440c518.c0402","type":"ui_group","z":"","name":"Trend","tab":"a1f5ac76.1fd2","order":4,"disp":true,"width":"6","collapse":false},{"id":"96339779.1866","type":"ui_group","z":"","name":"Power In","tab":"a1f5ac76.1fd2","order":1,"disp":true,"width":"6","collapse":false},{"id":"a2225423.e25ff8","type":"ui_group","z":"","name":"Amper trend chart","tab":"79a15c66.3359f4","order":2,"disp":true,"width":"13","collapse":false},{"id":"a1f5ac76.1fd2","type":"ui_tab","z":"","name":"X053 - Laddbox","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"79a15c66.3359f4","type":"ui_tab","z":"","name":"X053 - Trend diagram ström (A)","icon":"dashboard","order":3,"disabled":false,"hidden":false}]
