SD3/Tab2 x053- functions and variables
[{"id":"82832ef8.251b8","type":"tab","label":"x053: Function & Variables","disabled":false,"info":""},{"id":"85730eb1.9066c8","type":"particle-SSE","z":"82832ef8.251b8","pcloud":"","subscribetype":"all","devprodslug":"x042-001-sn0001","devid":"","evtname":"x053_batteryVoltage","strict":true,"x":168,"y":473,"wires":[["c2ff69ff.20f3c8","34c76ae2.6afc9e"]]},{"id":"fa2f0d57.faed48","type":"inject","z":"82832ef8.251b8","name":"LED on","topic":"param","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":35,"wires":[["9aa49a73.19f8e8"]]},{"id":"7a79f61c.9ab3d8","type":"inject","z":"82832ef8.251b8","name":"LED off","topic":"param","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":141,"y":129,"wires":[["9aa49a73.19f8e8"]]},{"id":"54d3269a.c351c8","type":"debug","z":"82832ef8.251b8","name":"result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":805,"y":85,"wires":[]},{"id":"e01c2785.fd0ee","type":"inject","z":"82832ef8.251b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":138,"y":231,"wires":[["f1c007ec.f1ece8"]]},{"id":"bcd2e704.98ac78","type":"debug","z":"82832ef8.251b8","name":"result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":778,"y":211,"wires":[]},{"id":"9aa49a73.19f8e8","type":"particle-func","z":"82832ef8.251b8","pcloud":"","devid":"250024000747363339343638","fname":"doLED","param":"","productIdOrSlug":"1180","repeat":0,"once":false,"x":453,"y":80,"wires":[["54d3269a.c351c8"]]},{"id":"f1c007ec.f1ece8","type":"particle-var","z":"82832ef8.251b8","pcloud":"","devid":"250024000747363339343638","getvar":"aValue","productIdOrSlug":"","repeat":0,"once":false,"x":408,"y":231,"wires":[["bcd2e704.98ac78","ba0ba131.fa6eb"]]},{"id":"ba0ba131.fa6eb","type":"ui_text","z":"82832ef8.251b8","group":"c905a376.e7b558","order":3,"width":0,"height":0,"name":"","label":"Analog read (A0) :","format":"{{msg.payload}}","layout":"row-center","x":768,"y":283,"wires":[]},{"id":"41471448.c223cc","type":"ui_text","z":"82832ef8.251b8","group":"5f275201.c23024","order":3,"width":0,"height":0,"name":"","label":"Analog read (A1) :","format":"{{msg.payload}}","layout":"row-center","x":769,"y":353,"wires":[]},{"id":"ca1832cd.e77cc","type":"ui_button","z":"82832ef8.251b8","name":"","group":"c905a376.e7b558","order":4,"width":0,"height":0,"passthru":false,"label":"Check A0","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":117,"y":309,"wires":[["f1c007ec.f1ece8"]]},{"id":"86bbe8c7.5a35b","type":"particle-var","z":"82832ef8.251b8","pcloud":"","devid":"250024000747363339343638","getvar":"bValue","productIdOrSlug":"","repeat":0,"once":false,"x":430,"y":333,"wires":[["41471448.c223cc"]]},{"id":"6558ca90.8eff5c","type":"ui_button","z":"82832ef8.251b8","name":"","group":"5f275201.c23024","order":3,"width":0,"height":0,"passthru":false,"label":"Check A1","tooltip":"read A1","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":122,"y":362,"wires":[["86bbe8c7.5a35b"]]},{"id":"c2ff69ff.20f3c8","type":"debug","z":"82832ef8.251b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":703,"y":441,"wires":[]},{"id":"34c76ae2.6afc9e","type":"ui_text","z":"82832ef8.251b8","group":"96339779.1866","order":1,"width":0,"height":0,"name":"","label":"SSE all x053","format":"{{msg.payload}}","layout":"row-spread","x":707,"y":514,"wires":[]},{"id":"c905a376.e7b558","type":"ui_group","z":"","name":"Sensor - voltmeter","tab":"a1f5ac76.1fd2","order":2,"disp":true,"width":"6","collapse":false},{"id":"5f275201.c23024","type":"ui_group","z":"","name":"Amp sensor","tab":"a1f5ac76.1fd2","order":3,"disp":true,"width":"6","collapse":false},{"id":"96339779.1866","type":"ui_group","z":"","name":"Power In","tab":"a1f5ac76.1fd2","order":1,"disp":true,"width":"6","collapse":false},{"id":"a1f5ac76.1fd2","type":"ui_tab","z":"","name":"X053 - Laddbox","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
