SD3/Tab3 x054 - Particle Cloud
[{"id":"11ba7358.94728d","type":"tab","label":"x054 - Particle Cloud","disabled":false,"info":""},{"id":"8898e93c.17aa58","type":"particle-var","z":"11ba7358.94728d","pcloud":"","devid":"33002d000947373034353237","getvar":"x054_batteryVoltage","productIdOrSlug":"","repeat":"20","once":false,"x":236,"y":64,"wires":[["8a41dddb.5123e","5e42013a.db26f"]]},{"id":"efc964d8.898468","type":"ui_gauge","z":"11ba7358.94728d","name":"","group":"ff0d9f7c.c9273","order":1,"width":0,"height":0,"gtype":"gage","title":"batteryVoltage","label":"Volt","format":"{{msg.data}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":721,"y":179,"wires":[]},{"id":"5fb4c3a5.6b65cc","type":"particle-SSE","z":"11ba7358.94728d","pcloud":"","subscribetype":"devid","devprodslug":"33002d000947373034353237","devid":"","evtname":"x054_batteryVoltage","strict":0,"x":256,"y":180,"wires":[["efc964d8.898468","a1909d2e.eaa7e","2130bd65.052ad2","938a196.9b837e8"]]},{"id":"a1909d2e.eaa7e","type":"ui_text","z":"11ba7358.94728d","group":"ff0d9f7c.c9273","order":2,"width":0,"height":0,"name":"BatteryVoltage","label":"text","format":"{{msg.topic}}","layout":"row-spread","x":721,"y":226,"wires":[]},{"id":"8a41dddb.5123e","type":"ui_text","z":"11ba7358.94728d","group":"ccfffff6.28c28","order":1,"width":0,"height":0,"name":"batteryVoltage","label":"text","format":"{{msg.payload | number:1}}","layout":"row-spread","x":725,"y":107,"wires":[]},{"id":"2130bd65.052ad2","type":"ui_text","z":"11ba7358.94728d","group":"ff0d9f7c.c9273","order":2,"width":0,"height":0,"name":"batteryVoltage","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":276,"wires":[]},{"id":"5e42013a.db26f","type":"debug","z":"11ba7358.94728d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":711,"y":58,"wires":[]},{"id":"938a196.9b837e8","type":"debug","z":"11ba7358.94728d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":719,"y":323,"wires":[]},{"id":"f9e82e55.76f998","type":"mqtt in","z":"11ba7358.94728d","name":"","topic":"x054_batteryVoltage","qos":"2","broker":"2f476608.09f80a","x":121,"y":479,"wires":[["5a0e7419.a7f2f4","6d06bac7.3fb50c"]]},{"id":"5a0e7419.a7f2f4","type":"ui_text","z":"11ba7358.94728d","group":"4f2bcad4.b22244","order":3,"width":0,"height":0,"name":"","label":"Laddningsspänning","format":"{{msg.payload}}","layout":"row-spread","x":765,"y":474,"wires":[]},{"id":"b720fd6f.757fc8","type":"mqtt in","z":"11ba7358.94728d","name":"","topic":"x054_chargeAmp","qos":"2","broker":"2f476608.09f80a","x":112,"y":552,"wires":[["f1390e11.455aa8"]]},{"id":"9f8650de.6c5ec","type":"mqtt in","z":"11ba7358.94728d","name":"","topic":"x054_solarPower","qos":"2","broker":"2f476608.09f80a","x":115,"y":417,"wires":[["fc57f433.d2ab78"]]},{"id":"6d06bac7.3fb50c","type":"ui_chart","z":"11ba7358.94728d","name":"","group":"ef54c5b9.5d639","order":1,"width":0,"height":0,"label":"Voltage trend","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":747,"y":529,"wires":[[]]},{"id":"fc57f433.d2ab78","type":"ui_gauge","z":"11ba7358.94728d","name":"","group":"4f2bcad4.b22244","order":2,"width":0,"height":0,"gtype":"gage","title":"Effekt","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":725,"y":411,"wires":[]},{"id":"f1390e11.455aa8","type":"ui_chart","z":"11ba7358.94728d","name":"","group":"ef54c5b9.5d639","order":1,"width":"0","height":"0","label":"Ampere","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"outputs":1,"x":747,"y":640,"wires":[[]]},{"id":"ff0d9f7c.c9273","type":"ui_group","z":"","name":"SSE device","tab":"7f93d783.a10f28","order":3,"disp":true,"width":"6","collapse":false},{"id":"ccfffff6.28c28","type":"ui_group","z":"","name":"variable","tab":"7f93d783.a10f28","order":2,"disp":true,"width":"6","collapse":false},{"id":"2f476608.09f80a","type":"mqtt-broker","z":"","name":"Heikkis USA server","broker":"skinny.skycharts.net","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4f2bcad4.b22244","type":"ui_group","z":"","name":"MQTT","tab":"7f93d783.a10f28","order":1,"disp":true,"width":"6","collapse":false},{"id":"ef54c5b9.5d639","type":"ui_group","z":"","name":"Trend x054 Ampere","tab":"4fe439fd.04ea7","order":1,"disp":true,"width":"13","collapse":false},{"id":"7f93d783.a10f28","type":"ui_tab","z":"","name":"Översikt x054","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"4fe439fd.04ea7","type":"ui_tab","z":"","name":"Trend x054","icon":"dashboard","order":4,"disabled":false,"hidden":false}]
