SD3/Tab4 x054: Functions & Varables
[{"id":"6c1fcb6f.d5a844","type":"tab","label":"x054: Functions & Varables","disabled":false,"info":""},{"id":"1ea4661c.d29652","type":"ui_button","z":"6c1fcb6f.d5a844","name":"","group":"c99d67b.ee46218","order":1,"width":0,"height":0,"passthru":false,"label":"Check A0","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":271,"wires":[["b92ea828.05433"]]},{"id":"3746ea7d.b763a6","type":"ui_button","z":"6c1fcb6f.d5a844","name":"","group":"c99d67b.ee46218","order":3,"width":0,"height":0,"passthru":false,"label":"Check A1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":157,"y":358,"wires":[["1c539d4e.5cbb7b"]]},{"id":"167b0b48.0a65fd","type":"inject","z":"6c1fcb6f.d5a844","name":"LED on","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":61,"wires":[["84a1f4d5.e54d58"]]},{"id":"1ed26df6.7d28fa","type":"inject","z":"6c1fcb6f.d5a844","name":"LED off","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":129,"wires":[["84a1f4d5.e54d58"]]},{"id":"84a1f4d5.e54d58","type":"particle-func","z":"6c1fcb6f.d5a844","pcloud":"","devid":"33002d000947373034353237","fname":"doLED","param":"","productIdOrSlug":"","repeat":0,"once":false,"x":498,"y":93,"wires":[["1a891107.553c4f"]]},{"id":"1a891107.553c4f","type":"debug","z":"6c1fcb6f.d5a844","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":824,"y":99,"wires":[]},{"id":"b92ea828.05433","type":"particle-var","z":"6c1fcb6f.d5a844","pcloud":"","devid":"33002d000947373034353237","getvar":"aValue","productIdOrSlug":"","repeat":0,"once":false,"x":446,"y":272,"wires":[["a3f09691.e64a98"]]},{"id":"1c539d4e.5cbb7b","type":"particle-var","z":"6c1fcb6f.d5a844","pcloud":"","devid":"33002d000947373034353237","getvar":"bValue","productIdOrSlug":"","repeat":0,"once":false,"x":457,"y":356,"wires":[["b916841f.9c201"]]},{"id":"9619641.c9c7b98","type":"particle-SSE","z":"6c1fcb6f.d5a844","pcloud":"","subscribetype":"devid","devprodslug":"33002d000947373034353237","devid":"","evtname":"","strict":0,"x":409,"y":507,"wires":[["3a4518c4.ec08f"]]},{"id":"a3f09691.e64a98","type":"ui_text","z":"6c1fcb6f.d5a844","group":"c99d67b.ee46218","order":2,"width":0,"height":0,"name":"","label":"Analog read (A0) :","format":"{{msg.payload}}","layout":"row-spread","x":831,"y":271,"wires":[]},{"id":"b916841f.9c201","type":"ui_text","z":"6c1fcb6f.d5a844","group":"c99d67b.ee46218","order":4,"width":0,"height":0,"name":"","label":"Analog read (A1) :","format":"{{msg.payload}}","layout":"row-spread","x":817,"y":354,"wires":[]},{"id":"3a4518c4.ec08f","type":"ui_text","z":"6c1fcb6f.d5a844","group":"c99d67b.ee46218","order":5,"width":0,"height":0,"name":"","label":"SSE all","format":"{{msg.payload}}","layout":"row-spread","x":793,"y":513,"wires":[]},{"id":"c99d67b.ee46218","type":"ui_group","z":"","name":"x054","tab":"f0fdf58e.d867d8","order":2,"disp":true,"width":"6","collapse":false},{"id":"f0fdf58e.d867d8","type":"ui_tab","z":"","name":"Particle readings","icon":"dashboard","order":5,"disabled":false,"hidden":false}]
