SD3/Tab5 Example: Publish & SSE
[{"id":"5268356e.26315c","type":"tab","label":"Example: Publish & SSE","disabled":false,"info":""},{"id":"301d42a8.e41456","type":"inject","z":"5268356e.26315c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":207,"y":169,"wires":[["f13ef456.296ed8"]]},{"id":"879a44a6.f866f","type":"debug","z":"5268356e.26315c","name":"result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":651,"y":259,"wires":[]},{"id":"f13ef456.296ed8","type":"particle-pub","z":"5268356e.26315c","pcloud":"","evtname":"myEvent","param":"","productIdOrSlug":"","private":false,"evtnametopic":false,"ttl":60,"repeat":0,"once":false,"x":387,"y":169,"wires":[["2f5b77ba.b86b08"]]},{"id":"3562aeb3.fa6c3a","type":"particle-SSE","z":"5268356e.26315c","pcloud":"","subscribetype":"devid","devprodslug":"250024000747363339343638","devid":"","evtname":"myEvent","strict":0,"x":327,"y":260,"wires":[["879a44a6.f866f"]]},{"id":"2f5b77ba.b86b08","type":"debug","z":"5268356e.26315c","name":"result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":557,"y":169,"wires":[]}]
