SD3/Tab6 MySQL Test
[{"id":"9c29019b.cf9758","type":"tab","label":"MySQL Test","disabled":true,"info":"This is a flow to demonstarte the MySQL node in Node-Red.\nWe measure the temperature of the Raspberry Pi's CPU and log it int the database."},{"id":"3f1b93ca.7b3a24","type":"inject","z":"9c29019b.cf9758","name":"Trigger","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":120,"wires":[["3583c861.86c85"]]},{"id":"3583c861.86c85","type":"exec","z":"9c29019b.cf9758","command":"vcgencmd","addpay":true,"append":"measure_temp","useSpawn":"false","timer":"","oldrc":false,"name":"Command","x":330,"y":180,"wires":[["c9af6978.7e35e8"],[],[]]},{"id":"c9af6978.7e35e8","type":"function","z":"9c29019b.cf9758","name":"Query","func":"/*\nIn this function I enter my Raspberry Pi's CPU\ntemperature using the command \"vcgencmd measure_temp\".\nI then store this temperature in the variable temp,\ndo the necessary formatting and then send a database\nquery to enter the temperature in a database named\nNode-RED-test and the field named Field in the table\nnamed test, every two seconds.\n*/\nvar temp = msg.payload.replace(\"temp=\", \"\").replace(\"'C\\n\", \"\"); //Only give the number\nquery = `INSERT INTO test(Field) VALUES(`+temp+`);`; //Creates query with the recorded temp value\nmsg.topic = query; //Put query into the msg.topic\nreturn msg; //Return the query","outputs":1,"noerr":0,"x":498,"y":253,"wires":[["e0ed7037.0b945","528d230b.1a0b5c"]]},{"id":"e0ed7037.0b945","type":"debug","z":"9c29019b.cf9758","name":"Query String","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","x":870,"y":420,"wires":[]},{"id":"528d230b.1a0b5c","type":"mysql","z":"9c29019b.cf9758","mydb":"4afe6c7e.599b34","name":"Database","x":676,"y":149,"wires":[["4a451279.bc5bfc"]]},{"id":"4a451279.bc5bfc","type":"debug","z":"9c29019b.cf9758","name":"Payload (Status)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":850,"y":180,"wires":[]},{"id":"4afe6c7e.599b34","type":"MySQLdatabase","z":"","host":"db-honeygood.ckqx35owoldy.eu-west-1.rds.amazonaws.com","port":"3306","db":"Node-RED-test","tz":""}]
