SD3/Tab7 MySQL test 2
[{"id":"3d042d0d.f2c312","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"48839341.057284","type":"mysql","z":"3d042d0d.f2c312","mydb":"4afe6c7e.599b34","name":"MYSQL","x":541,"y":204,"wires":[[]]},{"id":"fcaca609.69fe38","type":"template","z":"3d042d0d.f2c312","name":"Format data","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO `dbasename` (`data1`,`data2`,`time`) VALUES ({{data1}},{{data2}},{{time}})","output":"str","x":358,"y":204,"wires":[["48839341.057284"]]},{"id":"f63de0f1.b5c65","type":"comment","z":"3d042d0d.f2c312","name":"Flow to insert data into the database","info":"","x":218,"y":162,"wires":[]},{"id":"9ade8050.970ec","type":"inject","z":"3d042d0d.f2c312","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":128,"y":201,"wires":[["fcaca609.69fe38"]]},{"id":"4afe6c7e.599b34","type":"MySQLdatabase","z":"","host":"db-honeygood.ckqx35owoldy.eu-west-1.rds.amazonaws.com","port":"3306","db":"Node-RED-test","tz":""}]
