SD3/Tab8 MySQL test 3
[{"id":"6dd5a268.b8200c","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"d238a83.aa348d8","type":"ui_chart","z":"6dd5a268.b8200c","name":"24 hours data","group":"2d817e12.da3272","order":2,"width":"0","height":"0","label":"Chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#00e68c","#2d2da8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":737,"y":191,"wires":[[],[]]},{"id":"9d62c3ac.3b455","type":"mysql","z":"6dd5a268.b8200c","mydb":"189bcbf9.75d334","name":"MYSQL","x":355,"y":240,"wires":[["27fd1cd3.2072ac","cbbaefd.11ecc1"]]},{"id":"c0413033.358c2","type":"function","z":"6dd5a268.b8200c","name":"Criteria","func":"var timeE = msg.payload;\n//Restrict the query to pull the last 24hrs\n//of data instead of the whole db\nmsg.payload = (timeE - (1000*60*60*24));\n    node.status({text:msg.payload});\nreturn msg;","outputs":1,"noerr":0,"x":172,"y":241,"wires":[["3812565.bccfaaa"]]},{"id":"a6de9cf0.0aadc8","type":"template","z":"6dd5a268.b8200c","name":"Format query 2","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT\n CEILING(time/3600000)*3600000 AS timestamp,\n AVG(data1) AS `data1`,\n AVG(data2) AS `data2`\nFROM dbasename\nWHERE time > {{payload}}\nGROUP BY `timestamp`;","output":"str","x":361,"y":294,"wires":[[]]},{"id":"27fd1cd3.2072ac","type":"debug","z":"6dd5a268.b8200c","name":"","active":true,"tosidebar":true,"console":false,"complete":"false","x":558,"y":240,"wires":[]},{"id":"5dd9cb0b.251f4c","type":"inject","z":"6dd5a268.b8200c","name":"Timestamp","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":172,"y":191,"wires":[["c0413033.358c2"]]},{"id":"67189fb7.b73dc8","type":"comment","z":"6dd5a268.b8200c","name":"Flow to query database and format for chart","info":"","x":278,"y":141,"wires":[]},{"id":"3812565.bccfaaa","type":"template","z":"6dd5a268.b8200c","name":"Format query 1","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT data1,data2,time FROM dbasename WHERE time > {{payload}}","output":"str","x":357,"y":190,"wires":[["9d62c3ac.3b455"]]},{"id":"cbbaefd.11ecc1","type":"change","z":"6dd5a268.b8200c","name":"Format data","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t  $series := [\t    { \"field\": \"data1\", \"label\": \"data1 label\" },\t    { \"field\": \"data2\", \"label\": \"data2 label\" }\t  ];\t  $xaxis := \"timestamp\";\t  [\t    {\t      \"series\": $series.label,\t      \"data\": $series.[\t        (\t          $yaxis := $.field;\t          $$.payload.{\t            \"x\": $lookup($, $xaxis),\t            \"y\": $lookup($, $yaxis)\t          }\t        )\t      ]\t    }\t  ]\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":561,"y":191,"wires":[["d238a83.aa348d8"]]},{"id":"2d817e12.da3272","type":"ui_group","z":"","name":"Thermostat demo","tab":"72eeb058.988e38","order":2,"disp":true,"width":"6"},{"id":"189bcbf9.75d334","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"nodered","tz":""},{"id":"72eeb058.988e38","type":"ui_tab","z":"","name":"Test stuff","icon":"dashboard"}]
